@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
}

li {
    color: #828586;
    font-size: 14px; 
    padding-top: 12px;
    
}
li:hover {
    color:  #007bff;
    transition: 0.3s;
}
.mybox {
    color:  #007bff;
    cursor: pointer;
}
.txt-color {
    color: #707375;
}